body {
    margin: 0px;
}

div {
    background-repeat: no-repeat;
}

.raw_image {
    width: 100%;
    height: 100%;
}

.preload {
    display: none;
}
#main_container {
}

.form_sketch {
    border-color: transparent;
    background-color: transparent;
}

.u0_menu {
    background-image: url('../Observatorio_files/u0_menu.png');
}

.u0_menu {
    position:absolute;
    left:9px;
    top:177px;
    width:698px;
    height:64px;
}

#u0_menu {
    position:absolute;
    left:-3px;
    top:-3px;
    width:695px;
    height:61px;
}

#u1 {
    position:absolute;
    left:3px;
    top:3px;
    width:688px;
    height:54px
}

.u2_normal {
    background-image: url('../Observatorio_files/u2_normal.png');
}

.u2_container {
    position:absolute;
    left:0px;
    top:0px;
    width:100px;
    height:49px;
}

#u2_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:106px;
    height:55px;
}

.u3 {
    position:absolute;
    left:2px;
    top:17px;
    width:96px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u4_normal {
    background-image: url('../Observatorio_files/u4_normal.png');
}

.u4_container {
    position:absolute;
    left:100px;
    top:0px;
    width:100px;
    height:49px;
}

#u4_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:106px;
    height:55px;
}

.u5 {
    position:absolute;
    left:2px;
    top:17px;
    width:96px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u6_normal {
    background-image: url('../Observatorio_files/u6_normal.png');
}

.u6_container {
    position:absolute;
    left:200px;
    top:0px;
    width:100px;
    height:49px;
}

#u6_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:106px;
    height:55px;
}

.u7 {
    position:absolute;
    left:2px;
    top:17px;
    width:96px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u8_normal {
    background-image: url('../Observatorio_files/u8_normal.png');
}

.u8_container {
    position:absolute;
    left:300px;
    top:0px;
    width:116px;
    height:49px;
}

#u8_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:122px;
    height:55px;
}

.u9 {
    position:absolute;
    left:2px;
    top:10px;
    width:112px;
    height:30px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u10_normal {
    background-image: url('../Observatorio_files/u10_normal.png');
}

.u10_container {
    position:absolute;
    left:416px;
    top:0px;
    width:100px;
    height:49px;
}

#u10_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:106px;
    height:55px;
}

.u11 {
    position:absolute;
    left:2px;
    top:17px;
    width:96px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u12_normal {
    background-image: url('../Observatorio_files/u12_normal.png');
}

.u12_container {
    position:absolute;
    left:516px;
    top:0px;
    width:167px;
    height:49px;
}

#u12_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:173px;
    height:55px;
}

.u13 {
    position:absolute;
    left:2px;
    top:17px;
    width:163px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u14_normal {
    background-image: url('../Observatorio_files/u14_normal.png');
}

.u14_container {
    position:absolute;
    left:12px;
    top:10px;
    width:151px;
    height:44px;
}

#u14_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:157px;
    height:50px;
}

.u15 {
    position:absolute;
    left:2px;
    top:14px;
    width:147px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u16_normal {
    background-image: url('../Observatorio_files/u16_normal.png');
}

.u16_container {
    position:absolute;
    left:12px;
    top:79px;
    width:686px;
    height:80px;
}

#u16_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:692px;
    height:86px;
}

.u17 {
    position:absolute;
    left:2px;
    top:32px;
    width:682px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u18_normal {
    background-image: url('../Observatorio_files/u18_normal.png');
}

.u18_container {
    position:absolute;
    left:12px;
    top:262px;
    width:462px;
    height:1218px;
}

#u18_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:468px;
    height:1224px;
}

.u19 {
    position:absolute;
    left:2px;
    top:601px;
    width:458px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u20_normal {
    background-image: url('../Observatorio_files/u20_normal.png');
}

.u20_container {
    position:absolute;
    left:22px;
    top:272px;
    width:414px;
    height:27px;
}

#u20_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:420px;
    height:33px;
}

.u21 {
    position:absolute;
    left:2px;
    top:6px;
    width:410px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u22 {
    position:absolute;
    left:12px;
    top:309px;
    width:446px;
    height:1155px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u23_normal {
    background-image: url('../Observatorio_files/u23_normal.png');
}

.u23_container {
    position:absolute;
    left:502px;
    top:262px;
    width:196px;
    height:230px;
}

#u23_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:202px;
    height:236px;
}

.u24 {
    position:absolute;
    left:2px;
    top:107px;
    width:192px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u25 {
    position:absolute;
    left:512px;
    top:278px;
    width:150px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u26 {
    position:absolute;
    left:512px;
    top:309px;
    width:150px;
    height:30px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

